/* TODO: Add global styles: font-size, color, and other if needed */
@layer base {
  body {
    @apply min-w-[320px] bg-black font-sans text-base text-white antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  h1 {
    @apply font-poppins text-[76px] leading-[112.5%] tracking-[-1.52px] text-gray-98;
  }

  .subtitle {
    @apply font-sans text-xl leading-normal tracking-widest text-gray-94;
  }

  .mix-blend-custom-overlay {
    mix-blend-mode: overlay;
    transform: translate3d(0, 0, 0);
  }
}
